*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 420px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    position: relative;
}
nav ul li a::after{
    content: "";
    width: 0;
    height: 3px;
    background: #981c31;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 10%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color:#981c31;
    text-shadow:2px 2px #919191;
}
/*------------about---------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: "";
    width: 0;
    height: 3px;
    background: #981c31;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #981c31;
    font-size: 18px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*----------skills----------*/
#skills{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-title2{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
    text-align: center;
}
.skillimg{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.image-wrapper{
    width: 900px;
    display: flex;
    overflow-x: scroll;
}
.image-wrapper div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    padding: 10px;
    flex: none;
}
.image-wrapper div img{
    width: 100%;
}
.image-wrapper::-webkit-scrollbar{
    display: none;
}
.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#backBtn, #frontBtn{
    width: 180px;
    cursor: pointer;
    margin: 40px;
}
/*--------------Profiles---------*/
#profiles{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-title3{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
    text-align: center;
}
.prof-col-1{
    height: 300px;
    width: 300px;
    display: flex;
    margin: 15px;
}
.prof-col-2{
    height: 300px;
    width: 300px;
    display: flex;
    margin: 15px;
}
.prof-col-3{
    height: 300px;
    width: 300px;
    display: flex;
    margin: 15px;
}
.prof-col-4{
    height: 300px;
    width: 300px;
    display: flex;
    margin: 15px;
}
.prof-col-5{
    height: 300px;
    width: 300px;
    display: flex;
    margin: 15px;
}
.prof-images{
    display: flex;
    align-items: center;
}